    <a href="#0" class="cd-top">Top</a>
    <div class="header">
    <div class="header_mid">
      <div class="logo fl"><img src="__IMG__/logo.jpg"/></div>
      <div class="header_r fr pr">
      <span class="c-f f-12 mt-10 t-r fr">全国服务热线：020-84130064 / 400-678-5751</span>
      <ul class="nav fr pa">
        <volist name="headerNav" id="item">
        <li><a href="{{$item['href']}}" class="language-tg" data-title="{{:strtoupper($item['en_name'])}}">{{$item['name']}}</a></li>
        </volist>

      </ul>
      </div>  
    </div>
  </div>