<extend name="Index/index" />
<block name="content">
<div class="header"><h1 class="page-title">查案品添加</h1></div>
<ul class="breadcrumb">
	<li><a href="{{:U('Product/Index/Index')}}">Home</a> <span class="divider">/</span></li>
	<li class="active">发布产品</li>
</ul>
<div class="container-fluid">
	<div class="row-fluid">
			<div class="btn-toolbar">
				<button class="btn btn-primary" onClick="location='{{:U('Product/index')}}'"><i class="icon-list"></i> 产品列表</button>
			  <div class="btn-group">
			  </div>
			</div>
			<div class="well">
				<div id="myTabContent" class="tab-content">
				  <div class="tab-pane active in" id="home">
					<form action="" method="post" enctype="multipart/form-data">
						<!-- <label>产品ID</label> -->
						<!-- <input type="text" name="id" value="" class="input-xxlarge"><!--  -->
						<label>所属分类</label>
						<select name="cid" class="input-xlarge"> -->
						  <volist name="cateList" id="item">
						  <option value="{{$item['id']}}">{{$item['name']}}</option>
						  </volist>
						</select>
						<label>产品名称</label>
						<input type="text" name="nanme" value="" class="input-xxlarge">
						<label>产品英文名称</label>
						<input type="text" name="en_nanme" value="" class="input-xxlarge">
						<label>产品描述</label>
						<input type="text" name="desc" value="" class="input-xxlarge">
						<label>产品详情</label>
						<input type="text" name="detail" value="" class="input-xxlarge">
						<label>点击量</label>
						<input type="text" name="click" value="0" class="input-xlarge">						
						<label>是否显示</label>
						<select name="is_show" class="input-xlarge">
						  <option value="1">显示</option>
						  <option value="0">隐藏</option>
						</select>
						<label>排序</label>
						<input type="text" name="orders" value="1" class="input-xlarge">								
						<label></label>
						<input class="btn btn-primary" type="submit" value="提交" />
					</form>
				  </div>
			  </div>
			</div>
	</div>
</div>
</block>