			<div class="banner1">
				<div class="ban_mid">
				<img src="__IMG__/banner1.jpg" alt="" style="width:1000px;">
				</div>
			</div>

	<div class="con_mid w1000 clear">

			<div class="tt">
	 <p class="fright"><a href="">首页</a><img src="__IMG__/sanjiao.png" class="mr-5 ml-5"><a href="">关于冠昊</a><img src="__IMG__/sanjiao.png" class="mr-5 ml-5"><a href="">管理团队</a></p>

	 </div>

	  <div class="con_l fl">
	        	<dl>
	        		<dt><img src="__IMG__/row.png" alt=""class="mr-5">招商加盟<span>&nbsp;&nbsp;/&nbsp;AFFILIATES</span></dt>
	        		<div class="clearxd"></div>

	        		<dd class="mr"><a href="javascript:;">店面类型</a></dd>
	        		<dd><a href="javascript:;">加盟申请</a></dd>
	        		<dd><a href="javascript:;">加盟支持</a></dd>
	        		<dd><a href="javascript:;">加盟流程</a></dd>
	        		<dd style="border:none;"><a href="javascript:;">加盟网点</a></dd>
	        	</dl>
	        	<div class="clearxd"></div>
	        	<div class="tu"><a href="#"><img src="__IMG__/ima2.png" alt=""></a></div>
	        	<div class="tu"><a href="#"><img src="__IMG__/ima2.png" alt=""></a></div>
	    </div>
	    <div class="con_r fr jointo" >
	        	<div class="title4  clear">
	        		<h3>&nbsp;&nbsp;加盟申请</h3>
					
	        	</div>
	        	<div class="from-div clear">
	        		<form action="" method="post">
	        			<p class="row clear">
	        				<span class="left tr fl">姓名：</span>
	        				<input type="text" name="name" class="base-text fl">
	        				<span class="c-red ml-10  fb f-14 fl">*</span>
	        			</p>
	        			<p class="row clear">
	        				<span class="left tr fl"> 电话/手机：</span>
	        				<input type="text" name="mobi" class="base-text fl">
	        				<span class="c-red ml-10  fb f-14 fl">*</span>
	        			</p>
	        			<p class="row clear">
	        				<span class="left tr fl">传真：</span>
	        				<input type="text" name="fax" class="base-text fl">
	        				<span class="c-red ml-10  fb f-14 fl">*</span>
	        			</p>
	        			<p class="row clear">
	        				<span class="left tr fl">Email：</span>
	        				<input type="text" name="email" class="base-text fl">
	        				<span class="c-red ml-10  fb f-14 fl">*</span>
	        			</p>
	        			<p class="row clear">
	        				<span class="left tr fl"> QQ/旺旺：</span>
	        				<input type="text" name="qq" class="base-text fl">
	        				<span class="c-red ml-10  fb f-14 fl">*</span>
	        			</p>

	        			<p class="row clear">
	        				<span class="left tr fl">标题：</span>
	        				<input type="text" name="title" class="base-text fl">
	        				<span class="c-red ml-10  fb f-14 fl">*</span>
	        			</p>
	        			<p class="row clear">
	        				<span class="left tr fl">内容：</span>
		        			<textarea class="fl" name="content" ></textarea>
		        			<span class="c-red ml-10  fb f-14 fl">*</span>
		        		</p>
		        		<input type="submit" class="join-sub db tc" value="提交">
	        		</form>
	        	</div>
	    </div>
			
		</div>


	</div>





<div class="clearxd"></div>