<extend name="Index/index" />
<block name="content">
<div class="header"><h1 class="page-title">配置列表</h1></div>
<ul class="breadcrumb">
	<li><a href="{{:U('Admin/Config/Index')}}">Home</a> <span class="divider">/</span></li>
	<li class="active">控制器</li>
</ul>
<div class="container-fluid">
	<div class="row-fluid">
			<div class="btn-toolbar">
				<button class="btn btn-primary" onClick="location='{{:U('Config/index')}}'"><i class="icon-list"></i>控制</button>
			  <div class="btn-group">
			  </div>
			</div>
			<div class="well">
				<div id="myTabContent" class="tab-content">
				  <div class="tab-pane active in" id="home">
					<form action="" method="post" enctype="multipart/form-data">
						<label>控制分类</label>
						<select name="cid" class="input-xlarge">
						  <volist name="cateList" id="item">
						  <option value="{{$item['id']}}">{{$item['name']}}</option>
						  </volist>
						</select>
						<label>ID</label>
						<input type="text" name="id" value="" class="input-xxlarge">
						<label>配置</label>
						<input type="text" name="var" value="" class="input-xxlarge">
						<label>提示文本</label>
						<textarea value="text" name="title" rows="3" class="input-xxlarge"></textarea>
						<label>排序</label>
						<input type="text" name="orders" value="0" class="input-xlarge">						
						<label>是否显示</label>
						<select name="is_show" class="input-xlarge">
						  <option value="1">显示</option>
						  <option value="0">隐藏</option>
						</select>
						<!-- id,var,title,value,orders,is_show,addtime' -->
						<label>添加时间</label>
						<input type="text" name="time" value="" class="input-xlarge">								
						<label></label>
						<input class="btn btn-primary" type="submit" value="提交" />
					</form>
				  </div>
			  </div>
			</div>
	</div>
</div>
</block>